body
{
    text-align: center;
    background-color: beige
}

a
{
    color: red;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
    color: green;
}

button
{
    font-size: 50%;
    color: black;
    border-color: lightyellow;
    background-color: beige;
}


input
{
    background-color: black;
    color: white;
}

.video-container 
{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin: 0; /* Remove any margin */
}

.video-container iframe 
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) 
{
    /* For screens wider than 768px (PC) */
    .video-container iframe {
        width: 20%;
        height: auto
    }
}

@media screen and (max-width: 767px) 
{
    /* For screens up to 767px (mobile) */
    .video-container iframe 
    {
        width: 70%;
        height: auto;
    }
}

.rainbow 
{
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated 
{
    background: linear-gradient(to right, red, orange, yellow, #00ff00, blue, indigo, violet); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1s infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation 
{
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.duck_pfp
{
    border: 5px solid yellow;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
}



.top_stuff 
{
    width:100%;
    display: flex;
    justify-content:space-between;
}

.theme_menu
{
    color: grey;
    text-align: left;
    font-size: calc(25px + 0.390625vw);
}

.websites_menu
{
    order:1;
}

.pages_menu
{
    color: grey;
    text-align: left;
    font-size: calc(20px + 0.390625vw);
}

.top_stuff_buttons
{
    font-size: calc(8px + 0.390625vw);
    color: grey;
    border-color: black;
    background-color: black;
    border-radius: 78%;
    display: table-cell;
}

*
{
    margin: 0;
    padding: 0;
}

ul li
{
    list-style: none;

}

ul li a
{
    text-decoration: none;
    color: #af9432;
}

ul li a:hover
{
    color: darkorange;
}

.websites_menu
{
    color: grey;
    text-align: left;
    font-size: calc(18px + 0.390625vw);
}

.query_box
{
    width: 300px;
    height: 50px;
    background-color: wheat;
    padding: 1em;
    border-radius: 10px;
    border: 6px solid transparent;
    size: 20;
    resize: none;
}


.websites_menu>summary 
{
list-style: none;
}
.websites_menu>summary::-webkit-details-marker 
{
    display: none
}

.websites_menu>summary::after
{
    content: ' ◀';
}
.websites_menu>[open]>summary:after
{
    content: "▼";
}

