body
{
    text-align: center;
    background-color: beige
}

button
{
    font-size: 50%;
    color: black;
    border-color: lightyellow;
    background-color: beige;
}

button:hover
{
    cursor: pointer;
    border-color: rgb(241, 241, 174);
    border-radius: 20%;
    font-size: 55%;
}

.duck_pfp
{
    border: 5px solid yellow;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 100%;
    border-top-right-radius: 90%;
}


.pages_menu
{
    color: grey;
    text-align: left;
    font-size: calc(20px + 0.390625vw);
}

*
{
    margin: 0;
    padding: 0;
}

ul li a
{
    text-decoration: none;
    color: #af9432;
}

ul li a:hover
{
    color: darkorange;
}


.query_box
{
    width: calc(350px + 0.390625vw);
    height: 98.6px;
    background-color: wheat;
    padding: 1em;
    border-radius: 10px;
    border: 6px solid rgb(251, 220, 162);
    resize: none;
}

.websites_menu
{
    color: grey;
    text-align: left;
    font-size: calc(18px + 0.390625vw);
}

